
body
{
    direction: rtl;
}

.form-check .form-check-input 
{
    float: right;
    margin-left: 0.5em;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) 
{
    margin-left: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) 
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.noti-icon .badge 
{
    right: unset;
}

.dropdown-menu-end[style] 
{
    left: 0!important;
    right: auto!important;
    text-align: right;
}

.main-content 
{
    margin-left: 0px;
}

.vertical-collpsed .main-content 
{
    margin-left: 0px;
}

.breadcrumb-item+.breadcrumb-item::before 
{
    float: right;
    padding: 0 0.5rem;
}

.list-unstyled 
{
    padding: 0;
    list-style: none;
}

.text-left
{
    text-align: right !important;
}

.text-right
{
    text-align: left !important;
}